parameters:
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        -
            message: '#has unknown class OpenSSLAsymmetricKey as its type#'
            path: src/Credentials/RsaClientCredentials.php
        -
            message: '#invalid type OpenSSLAsymmetricKey#'
            path: src/Credentials/RsaClientCredentials.php
        -
            # This can be removed when upgrading to at least PHPStan 1.1.1
            message: '#Function array_is_list not found.#'
            path: src/Signature/EncodesUrl.php
    reportUnmatchedIgnoredErrors: false